<div class="container">
  <div class="square" [style.backgroundColor]="squareColor" cdkDrag>
    <span>{{ clickCount }}</span>
  </div>

  <button class="btn btn-success" (click)="ClickChangeColor()">Color</button>

  <div class="material">
    <div class="material-section">
      <i class="material-icons icon" (click)="onUndoClick()">undo</i>

      <div class="large-square" *ngIf="lastUndoColor" [style.backgroundColor]="lastUndoColor"></div>

      <div cdkDropList [cdkDropListData]="undocolor" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of undocolor; trackBy: trackItem">
          <div class="example-box" cdkDrag [style.backgroundColor]="item">{{ item }}</div>
        </div>
      </div>
    </div>

    <div class="material-section">
      <i class="material-icons icon" (click)="onRedoClick()">redo</i>

      <div class="large-square" *ngIf="lastRedoColor" [style.backgroundColor]="lastRedoColor"></div>

      <div cdkDropList [cdkDropListData]="redocolor" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of redocolor; trackBy: trackItem">
          <div class="example-box" cdkDrag [style.backgroundColor]="item">{{ item }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
