<div class="container">
  <div class="square" [style.backgroundColor]="squareColor" cdkDrag>
    <span>{{ clickCount }}</span>
  </div>

  <button class="btn btn-success" (click)="ClickChangeColor()">Color</button>

  <div class="material" cdkDropListGroup>
    <div class="material-section">
      <i class="material-icons icon" (click)="onUndoClick()">undo</i>

      <mat-button-toggle (click)="isOpenUndo = !isOpenUndo" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        class="toggleButton" value="undo">

        {{isOpenUndo ? "Close" : "Open"}}

      </mat-button-toggle>

      <ng-template class="toggleButton" cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpenUndo">
        <ul class="example" cdkDropList [cdkDropListData]="undocolor" (cdkDropListDropped)="drop($event)">
          <li *ngFor="let item of undocolor; trackBy: trackItem">
            <div class="example-box" cdkDrag [style.backgroundColor]="item">{{ item }}</div>
          </li>

        </ul>
      </ng-template>


      <div class="large-square" *ngIf="lastUndoColor" [style.backgroundColor]="lastUndoColor" id="desktopColorList">
      </div>

      <div cdkDropList [cdkDropListData]="undocolor" (cdkDropListDropped)="drop($event)" id="desktopColorList">
        <div *ngFor="let item of undocolor; trackBy: trackItem">
          <div class="example-box" cdkDrag [style.backgroundColor]="item">{{ item }}</div>
        </div>
      </div>
    </div>

    <div class="material-section">
      <i class="material-icons icon" (click)="onRedoClick()">redo</i>
      <mat-button-toggle (click)="isOpenRedo = !isOpenRedo" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        class="toggleButton" value="redo">

        {{isOpenRedo ? "Close" : "Open"}}

      </mat-button-toggle>

      <ng-template class="toggleButton" cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpenRedo">
        <ul class="example-redo" cdkDropList [cdkDropListData]="redocolor" (cdkDropListDropped)="drop($event)">
          <li *ngFor="let item of redocolor; trackBy: trackItem">
            <div class="example-box" cdkDrag [style.backgroundColor]="item">{{ item }}</div>
          </li>

        </ul>
      </ng-template>

      <div class="large-square" *ngIf="lastRedoColor" [style.backgroundColor]="lastRedoColor" id="desktopColorList">
      </div>

      <div cdkDropList [cdkDropListData]="redocolor" (cdkDropListDropped)="drop($event)" id="desktopColorList">
        <div *ngFor="let item of redocolor; trackBy: trackItem">
          <div class="example-box" cdkDrag [style.backgroundColor]="item">{{ item }}</div>
        </div>
      </div>
    </div>
  </div>
</div>